@model MvcToDoList.Models.ToDoListStatusPriorityViewModel

@{
    ViewData["Title"] = "Index";
}

<h4 class="mt-4">To-Do List</h4>

<form asp-controller="ToDoList" asp-action="Index" method="get">
    <partial name="_CreateAndFilter" />
</form>

<table class="table table-striped table-hover">
    <partial name="_TableHead" />

    <tbody>
        @foreach (var item in Model.ToDoLists)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Task)
                </td>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td></td>
                @if (item.Priority == "Önemli Derecesi")
                {
                    <td style="color:#8B0000;">
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                }
                @if (item.Priority == "Yüksek")
                {
                    <td class="text-danger">
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                }
                @if (item.Priority == "Orta")
                {
                    <td class="text-warning">
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                }
                @if (item.Priority == "Düşük")
                {
                    <td style="color:#1E90FF;">
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                }
                @if (item.Priority == "Önemsiz")
                {
                    <td style="color:#0000CD;">
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                } 
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assgignee)
                </td>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompleteBy)
                </td>
                <td></td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"
                       class="btn btn-primary">
                        <i class="bi bi-info-circle"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"
                       class="btn btn-warning">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id"
                       class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
