@model MvcToDoList.Models.ToDoListStatusPriorityViewModel

@{
    ViewData["Title"] = "Upcoming Week";
}

<h4 class="my-4">This upcoming week's To-Do List</h4>

<h4 class="badge bg-primary">@DateTime.Today.ToString("dd-MM-yyyy") - @DateTime.Today.AddDays(7).ToString("dd-MM-yyyy")</h4>

<form asp-controller="ToDoList" asp-action="UpcomingWeek" method="get">
    <p>
        <div class="d-flex pt-2">

            <p class="pe-5">
                <a asp-action="Create" class="btn btn-success">
                    <i class="bi bi-plus-lg"></i> Create New
                </a>
            </p>

            <div class="ps-5">
                @*Status:*@
                <select asp-for="ToDoListStatus" asp-items="Model.Statuses" class="form-select">
                    <option value="" class="dropdown-item disabled">Status</option>
                </select>
            </div>

            <div class="ps-3">
                @*Priority:*@
                <select asp-for="ToDoListPriority" asp-items="Model.Priorities" class="form-select">
                    <option value="" class="dropdown-item disabled">Priority</option>
                </select>
            </div>

            <div class="ps-3">
                @*Task:*@ <input type="text" name="SearchString" class="form-control" placeholder="Task" />

            </div>

            <div class="ps-4">
                <input type="submit" value="Filter" class="btn btn-secondary my-2 my-sm-0" />
            </div>

        </div>
    </p>
</form>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDoLists[0].Task)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoLists[0].Description)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoLists[0].Status)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoLists[0].Priority)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoLists[0].Assgignee)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoLists[0].Created)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoLists[0].CompleteBy)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.ToDoLists)
        {
            @*string todaysDate = DateTime.Today.ToString("dd-MM-yyyy");
                DateTime dateIn7Days = DateTime.Now.AddDays(7).ToString("dd-MM-yyyy");
                int result = DateTime.Compare(todaysDate <= dateIn7Days);*@

            @if (item.CompleteBy == DateTime.Today || item.CompleteBy == DateTime.Today.AddDays(1) || item.CompleteBy == DateTime.Today.AddDays(2) || item.CompleteBy == DateTime.Today.AddDays(3) || item.CompleteBy == DateTime.Today.AddDays(4) || item.CompleteBy == DateTime.Today.AddDays(5) || item.CompleteBy == DateTime.Today.AddDays(6) || item.CompleteBy == DateTime.Today.AddDays(7))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Task)
                    </td>
                    <td>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        </td>
                    @if (item.Priority == "Highest")
                    {
                        <td style="color:#8B0000;">
                            @Html.DisplayFor(modelItem => item.Priority)
                        </td>
                    }
                    @if (item.Priority == "High")
                    {
                        <td class="text-danger">
                            @Html.DisplayFor(modelItem => item.Priority)
                        </td>
                    }
                    @if (item.Priority == "Medium")
                    {
                        <td class="text-warning">
                            @Html.DisplayFor(modelItem => item.Priority)
                        </td>
                    }
                    @if (item.Priority == "Low")
                    {
                        <td style="color:#1E90FF;">
                            @Html.DisplayFor(modelItem => item.Priority)
                        </td>
                    }
                    @if (item.Priority == "Lowest")
                    {
                        <td style="color:#0000CD;">
                            @Html.DisplayFor(modelItem => item.Priority)
                        </td>
                    }
                    <td>
                        </td>
                            
                    <td>
                        @Html.DisplayFor(modelItem => item.Assgignee)
                    </td>
                    <td>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompleteBy)
                    </td>
                    <td>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id"
                   class="btn btn-primary">
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"
                   class="btn btn-warning">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id"
                   class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>